fastapi==0.104.1
uvicorn==0.23.2
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1
minio
pydantic==2.4.2
python-multipart==0.0.6
docxtpl==0.16.7
geoalchemy2==0.15.2
immudb-py==1.5.0
shapely==2.0.6
numpy<2.0.0
PyYAML==6.0.1 # Added for parsing eyeWitness metadata.yaml
python-gnupg==0.5.2 # Added for ProofMode GPG verification
Pillow==10.1.0 # Added for image processing and thumbnail generation
